body,
html,
#root {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  //   background-color: #f0f0f0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-container {
  display: flex;
  width: 60%;
  max-width: 900px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 100px auto;
  border-radius: 10px;
}

.login-image-section {
  flex: 1;
  background: url("login.jpg") no-repeat center center;
  border-radius: 10px;
  background-size: cover;
}

.login-section {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form-group {
  margin-bottom: 15px;
}

.login-form-group label {
  display: block;
  margin-bottom: 5px;
}

.login-form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.login-button {
  padding: 10px;
  background-color: #ff924d;
  color: white;
  border-radius: 50px;
  border: none;
  width: 100px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #ae5169;
}
