.graph-container {
  position: relative;
  width: 800px;
  height: 350px;
  background-color: white;
  border-radius: 10px;
}

.graph-title {
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.graph-buttons {
  display: flex;
  gap: 10px;
  margin: 5px;
}

.graph-btn {
  border-radius: 50px;
  width: 100px;
  font-weight: bold;
  margin-top: 10px;
}

.export {
  background-color: #583469;
  color: white;
}

.all {
  background-color: white;
}

.chart-wrapper {
  overflow-x: auto;
}

@media (max-width: 768px) {
  .chart-wrapper {
    width: 100%;
    overflow-x: auto;
  }

  .graph-title {
    flex-direction: column;
    align-items: flex-start;
  }

  .graph-buttons {
    margin-top: 10px;
  }

  .graph-btn {
    width: 80px;
  }
}

@media (max-width: 576px) {
  .graph-title {
    font-size: 14px;
  }

  .graph-btn {
    width: 70px;
    font-size: 12px;
  }

  .chart-wrapper {
    width: 100%;
  }
}
