.react-calendar {
  width: 350px;
  max-width: 100%;
  background: #fff;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px #ac4a78;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  height: fit-content;

  &--doubleView {
    width: 700px;
    .react-calendar__viewContainer {
      display: flex;
      margin: -0.5em;

      > * {
        width: 50%;
        margin: 0.5em;
      }
    }
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  button {
    margin: 0;
    border: 0;
    outline: none;

    &:enabled:hover {
      cursor: pointer;
    }
  }

  &__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;

    button {
      color: black;
      min-width: 44px;
      background: none;
      font-size: 16px;
      margin-top: 8px;
      font-weight: bold;

      &:disabled {
        background-color: #f0f0f0;
      }

      &:enabled:hover,
      &:enabled:focus {
        background-color: #f8f8fa;
      }
    }
  }

  &__month-view {
    &__weekdays {
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.75em;

      &__weekday {
        padding: 0.5em;
      }
    }

    &__weekNumbers .react-calendar__tile {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.75em;
      font-weight: bold;
    }

    &__days__day {
      &--weekend {
        color: #6f48eb;
      }

      &--neighboringMonth {
        color: #757575;
      }
    }
  }

  &__year-view,
  &__decade-view,
  &__century-view {
    .react-calendar__tile {
      padding: 2em 0.5em;
    }
  }

  &__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;

    &:disabled {
      background-color: #f0f0f0;
    }

    &:enabled:hover,
    &:enabled:focus {
      background: #f8f8fa;
      color: #6f48eb;
      border-radius: 6px;
    }

    &--now {
      background: #646269;
      border-radius: 6px;
      font-weight: bold;
      color: #fff;

      &:enabled:hover,
      &:enabled:focus {
        background: #6f48eb33;
        // color: #6f48eb;
      }
    }

    &--hasActive {
      background: #6f48eb;

      &:enabled:hover,
      &:enabled:focus {
        background: #f8f8fa;
      }
    }

    &--active {
      border-radius: 50%;
      background: #e5691a;
      border-radius: 6px;
      font-weight: bold;
      color: #fff;

      &:enabled:hover,
      &:enabled:focus {
        border-radius: 50%;
        background: #e5691a;
      }
    }

    &--range {
      background: #bfb3e8;
      color: #e5691a;
      border-radius: 0;
    }

    &--rangeStart {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      // background: #6f48eb;
      color: #fff;
    }

    &--rangeEnd {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      background: #e5691a;
      color: #fff;
    }
  }

  &--selectRange {
    .react-calendar__tile--hover {
      background-color: #f8f8fa;
    }
  }
}

@media (max-width: 768px) {
  .react-calendar {
    width: 100%;
    &--doubleView {
      width: 100%;
    }
  }
}

@media (max-width: 576px) {
  .react-calendar {
    width: 100%;
    font-size: 14px;
    &--doubleView {
      .react-calendar__viewContainer {
        flex-direction: column;
      }
    }
  }
}
